body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin-top: 30px;
  -webkit-font-smoothing: antialiased;
}

textarea {
    resize: none;
}

.fixed {
  position: fixed;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}

.left-buffer {
  margin-left: 10px;
}

.top-buffer {
  margin-top: 10px;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.link {
  cursor: hand;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.6em;
}

.notification-icon .badge {
  background: red;
  position: relative;
  top: -15;
  left: -8px;
}

.no-wrap {
  white-space: nowrap;
}

.short-digit-input {
  width: 50px;
}
