body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin-top: 30px;
  -webkit-font-smoothing: antialiased;
}

textarea {
  resize: none;
}

.fixed {
  position: fixed;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}

.left-buffer {
  margin-left: 10px;
}

.left-buffer-sm {
  margin-left: 5px;
}

.top-buffer {
  margin-top: 10px;
}

.top-buffer-sm {
  margin-top: 5px;
}

.top-buffer-xs {
  margin-top: 1px;
}

.reduce-top-margin {
  margin-top: -5px;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.link {
  cursor: hand;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.8em;
}

.no-wrap {
  white-space: nowrap;
}
